<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="logs/nlog-internal.log"
      internalLogLevel="Error">
  <targets>
    <target xsi:type="Database" name="database"
            connectionString="Server=localhost;Database=HangangRamyeonDb;Integrated Security=True;Trust Server Certificate=True;"
            dbProvider="sqlserver"
            keepConnection="true">
      <commandText>
        INSERT INTO dbo.Logs (LogLevel, LogMessage, Exception, Logged)
        VALUES (@level, @message, @exception, @timestamp);
      </commandText>
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@exception" layout="${exception:format=toString}" />
      <parameter name="@timestamp" layout="${longdate}" dbType="DateTime" />
    </target>
    <target xsi:type="File" name="file" fileName="logs/logfile.txt" layout="${longdate} ${level} ${message} ${exception}" createDirs="true" />
    <target xsi:type="Console" name="console" layout="${longdate} ${level} ${message} ${exception}" />
  </targets>
  <rules>
    <logger name="console" minlevel="Debug" writeTo="console" />
    <logger name="file" minlevel="Information" writeTo="file" />
    <logger name="*" minlevel="Information" maxlevel="Error" final="true" writeTo="file,database" />
  </rules>
</nlog>